---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="tmcvf" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>this machine converts video formats</title>
  </head>
  <body class="bg-black text-white">
    <main class="max-w-prose mx-auto px-4 mt-32 text-center font-mono">
      <h1 class="text-4xl">404 Not Found</h1>
      <p class="my-12">
        No easter eggs to be found here. Or maybe this page is the easter egg?
        Hmmmm...
      </p>
      <a
        class="underline underline-offset-8 decoration-dotted hover:decoration-solid"
        href="/">&lt; Go Back &gt;</a
      >
    </main>
  </body>
</html>
