---
import Converter from '../components/converter';
import './src/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="this machine converts video formats" />
    <meta property="og:url" content="https://tmcvf.farmarrays.com" />
    <meta
      property="og:description"
      content="A tiny video converter powered by ffmpeg.wasm. Video conversion runs 100% off your browser — no data is uploaded to any server."
    />
    <meta
      name="description"
      content="A tiny video converter powered by ffmpeg.wasm. Video conversion runs 100% off your browser — no data is uploaded to any server."
    />
    <title>this machine converts video formats</title>
  </head>
  <body>
    <div class="max-w-xl mx-auto px-4 text-center">
      <header class="mt-24">
        <h1 class="text-4xl mb-2">tmcvf</h1>
        <p class="text-neutral-600">
          A tiny video converter powered by ffmpeg.wasm
        </p>
      </header>
      <main class="my-16">
        <noscript>
          <div
            role="alert"
            class="my-8 p-2 text-sm bg-red-100 text-red-800 border-b border-dotted border-red-800"
          >
            <p>
              This website requires JavaScript to work properly. Please ensure
              you are using a browser with proper JavaScript support, and add an
              exception to any script blockers you may have installed.
            </p>
          </div>
        </noscript>
        <Converter client:load />
      </main>
      <footer class="text-sm text-neutral-600">
        <p>
          Developed by
          <a
            class="text-indigo-700 hover:underline"
            href="https://farmarrays.com"
            target="_blank"
            rel="noreferrer">ext4cats</a
          >. Read the source on
          <a
            class="text-indigo-700 hover:underline"
            href="https://github.com/ext4cats/tmcvf"
            target="_blank"
            rel="noreferrer">GitHub</a
          >.
        </p>
        <p>
          Having performance issues? Try
          <a
            class="text-indigo-700 hover:underline"
            href="https://handbrake.fr/"
            target="_blank"
            rel="noreferrer">HandBrake</a
          >
          — it's hardware accelerated!
        </p>
      </footer>
    </div>
  </body>
</html>
