*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.loadingmsg {
  text-align: center;
}

.progressbar {
  text-align: center;
}

.progressbar > * {
  display: block;
  width: 100%;
}

.header {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.header > h1 {
  margin: 0;
}

.header > p {
  font-size: 0.9rem;
  margin: 0;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.submit {
  grid-column: 1 / 3;
}

.footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}

.footer > p {
  margin: 0;
}
